---
layout: post
---

<div class="blog-index">	
{% assign post = site.posts.first %}
{% assign title = post.title %}
{% assign image = post.image %}
{% assign date = post.date %}
{% assign categories = post.categories %}
{% assign author = post.author %}
{% assign category = post.category %}
{% assign description = post.description %}
{% assign content = post.content %}
</div>




<!--
<section class="list">
	{% if site.posts.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% elsif site.paginate %}
		{% for post in paginator.posts %}
			{% if post.category == 'blog' %}
				{% if post.hidden != true %}
					{% for post in site.posts %}
						{% if post.category == 'blog' %}
							{% if post.hidden != true %}
								{% include blog-post2.html %}
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endif %}
		{% endfor %}

		{% include pagination.html%}
	{% else %}
	
		{% for post in site.posts %}
			{% if post.category == 'blog' %}
				{% if post.hidden != true %}
					{% for post in site.posts %}
						{% if post.category == 'blog' %}
							{% if post.hidden != true %}
								{% include blog-post2.html %}
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
</section>
---
layout: post
title: "Test post"
image:
date: 2017-06-20
categories: articles
author: Youssef
category: blog
description:
---
-->

